body {
    background: #30475E;
    margin: 0px;
    text-align: center;
}

.top {

    background-color: #C8F2EF;
    height: 150px;
    width: 100vw;
    align-content: center;

}

.grp {
    height: 149px;
    width: 149px;
    position: absolute;
    left: 20px;

    rotate: -35deg;
    transition-duration: 1000ms;
}

.grp:hover {
    rotate: 35deg;
}

.mainimg {
    display: inline;
    height: 500px;
    width: 50vw;
    border-radius: 20px;
    margin-top: 30px;
    position: absolute;
    left: 40px;
    transition-duration: 1000ms;
}

.mainimg:hover {
    rotate: -10deg;
}

.cloud {
    position: absolute;
    margin-top: 50px;
    right: 180px;
    transition-duration: 1000ms;
}

.cloud:hover {
    transform: translateX(50px);
}

.gimg {
    position: absolute;
    float: left;
    left: 25%;

    height: 200px;
    transition-duration: 1000ms;


}

.gimg:hover {
    height: 230px;
}

.gimg1 {
    position: absolute;
    float: left;
    left: 55%;

    height: 200px;
    transition-duration: 1000ms;


}

.gimg:hover {
    height: 230px;
}

.gimg1:hover {
    height: 230px;
}

.containt1 {
    position: absolute;
    left: 25%;
}

.para {
    font-size: 20px;
}

.doc {
    height: 30px;

}

#anvith {
    height: 170px;
    margin-left: 25%;
    width: 50%
}

.end {
    text-align: center;
    height: 100px;
    background-color: #C8F2EF;
}

.pend {
    padding-top: 20px;
}

.help {
    position: absolute;
    left: 90%;
    top: 40px;
}

.containt {
    position: absolute;
    left: 55%;
}

@media(max-width:1000px) {
    .grp {
        height: 149px;
        width: 149px;
        position: absolute;
        left: 20px;
        rotate: -35deg;
        transition-duration: 1000ms;
    }

    .cloud {
        height: 50px;
        position: absolute;
        margin-top: 50px;
        right: 180px;
        transition-duration: 1000ms;
    }

    .mainimg {
        height: 400px;
        width: 90vw;
        border-radius: 20px;
        margin-top: 30px;


    }

    .gimg {
        height: 25%;
        position: absolute;
        float: left;
        left: 10%;

        height: 150px;


    }

    .containt {
        position: absolute;
        left: 48%;
    }

    .names {
        position: absolute;
        margin-top: 20px;
        margin-left: 15%;

    }

    #anvith {
        height: 170px;
        margin-left: 5%;
        width: 90vw
    }

    .gimg1 {
        height: 25%;
        position: absolute;
        float: left;

        left: 55%;
        height: 150px;


    }

    .containt1 {
        position: absolute;
        left: 8%;
    }

    .end {
        text-align: center;
        height: 100px;
        background-color: #C8F2EF;
    }

    

    .help {
        position: absolute;
        left: 80%;
        top: 40px;
    }
}